parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    doctrine:
        objectManagerLoader: tests/object-manager.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    treatPhpDocTypesAsCertain: false